
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;600&display=swap');

  *{
    font-family: 'Lexend', sans-serif;
  }
body {
  font-family: 'Lexend', sans-serif;}

h1{
   font-weight: 600;
  /* font-size: 36px; */
  /* color: #333; */
}

p {
  font-family: 'Lexend', sans-serif;  font-weight: 400;
  font-size: 18px;
  /* color: #555; */
}
